@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: 'Cantarell', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --text-large: 20px;
  --text-medium: 16px;
  --text-small: 14px;
  --text-tiny: 12px;
  --text-mobile-large: 14px;
  --text-mobile-medium: 12px;
  --text-mobile-small: 10px;
  --text-mobile-tiny: 8px;
  --font-semibold: 700;
  --color-primary-default: #1A5319;
  --color-primary-lighter: #508D4E;
  --color-primary-lighterer: #80AF81;
  --color-primary-lightest: #D6EFD8;
  --color-black-default: #282828;
  --color-black-lighter: #949494;
  --color-black-lightest: #EAEAEA;
  --color-white-default: #FEFEFE;
  --color-white-darker: #F8F8F8;
  --color-white-darkest: #F1F1F1;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-black-lighter, currentColor);
  }

  h1,
  h2,
  h3 {
    font-weight: var(--font-semibold);
    font-family: var(--font-primary);
    color: var(--color-black-default);
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-secondary);
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }
}

:root {
  --background: var(--color-white-default);
  --foreground: var(--color-black-default);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black-default);
    --foreground: var(--color-white-default);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, Cantarell, sans-serif;
}
